<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Detection System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Breast Cancer Detection</h1>
        <form method="POST" action="/predict">
            <input type="text" name="radius_mean" placeholder="Mean Radius" required>
            <input type="text" name="texture_mean" placeholder="Mean Texture" required>
            <input type="text" name="perimeter_mean" placeholder="Mean Perimeter" required>
            <input type="text" name="area_mean" placeholder="Mean Area" required>
            <input type="text" name="smoothness_mean" placeholder="Mean Smoothness" required>
            <button type="submit" class="animated-button">Predict</button>
        </form>
        <footer>
            <p>&copy; 2024 Breast Cancer Awareness Month</p>
            <p> By Heriz Oumaima </p>
        </footer>
    </div>
</body>
</html>
